{{define "settings/panel/security"}}
<a-collapse default-active-key="1">
    <a-collapse-panel key="1" header='{{ i18n "pages.settings.security.admin"}}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.oldUsername"}}</template>
            <template #control>
                <a-input autocomplete="username" v-model="user.oldUsername"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.currentPassword"}}</template>
            <template #control>
                <a-input-password autocomplete="current-password" v-model="user.oldPassword"></a-input-password>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.newUsername"}}</template>
            <template #control>
                <a-input v-model="user.newUsername"></a-input>
            </template>
        </a-setting-list-item>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.newPassword"}}</template>
            <template #control>
                <a-input-password autocomplete="new-password" v-model="user.newPassword"></a-input-password>
            </template>
        </a-setting-list-item>
        <a-list-item>
            <a-space direction="horizontal" :style="{ padding: '0 20px' }">
                <a-button type="primary" @click="updateUser">{{ i18n "confirm" }}</a-button>
            </a-space>
        </a-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="2" header='{{ i18n "pages.settings.security.twoFactor" }}'>
        <a-setting-list-item paddings="small">
            <template #title>{{ i18n "pages.settings.security.twoFactorEnable" }}</template>
            <template #description>{{ i18n "pages.settings.security.twoFactorEnableDesc" }}</template>
            <template #control>
                <a-switch @click="toggleTwoFactor" :checked="allSetting.twoFactorEnable"></a-switch>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="3" header='API Key Authentication'>
        <a-setting-list-item paddings="small">
            <template #title>API Key</template>
            <template #description>Use this API key to authenticate API requests. Add it as "X-API-Key" header or "Authorization: Bearer" header.</template>
            <template #control>
                <a-space direction="horizontal">
                    <a-input-password :value="apiKey" style="width: 400px;" readonly>
                        <template #addonAfter>
                            <a-tooltip title="Copy">
                                <a-icon type="copy" @click="copyApiKey" style="cursor: pointer;" />
                            </a-tooltip>
                        </template>
                    </a-input-password>
                </a-space>
            </template>
        </a-setting-list-item>
        <a-list-item>
            <a-space direction="horizontal" :style="{ padding: '0 20px' }">
                <a-button type="primary" @click="generateApiKey">Generate New API Key</a-button>
                <a-button @click="loadApiKey">Refresh</a-button>
            </a-space>
        </a-list-item>
    </a-collapse-panel>
    <a-collapse-panel key="4" header='API Documentation (Swagger)'>
        <a-setting-list-item paddings="small">
            <template #title>Enable Swagger Documentation</template>
            <template #description>Enable or disable the Swagger API documentation. Access it at /swagger/index.html when enabled. Remember to save settings after toggling.</template>
            <template #control>
                <a-switch v-model="allSetting.swaggerEnable"></a-switch>
            </template>
        </a-setting-list-item>
    </a-collapse-panel>
</a-collapse>
{{end}}